n8n-workflow.json
{
  "name": "Claude Terminal Remote Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claude-terminal-remote",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "name": "Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SUPABASE_URL/rest/v1/claude_signals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\": \"{{ $json.query.action || 'y' }}\", \"tty\": \"{{ $json.query.tty || '' }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "name": "Queue Signal"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Signal queued"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300],
      "name": "Respond OK"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Queue Signal", "type": "main", "index": 0}]]
    },
    "Queue Signal": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
